.food-item {
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px 0;
}

.macro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 20px;
}

.macro-container .btn {
  margin: 0;
  font-size: 1rem;
}

.micro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 20px;
}

.food-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.food-item-header .btn {
  margin: 0;
  font-size: 1rem;
  margin-left: 10px;
}
