.meal {
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
