.App {
  text-align: center;
}

html {
  height: 100%;
}

body {
  background-color: #b3b3b3;
  height: 100%;
}
#root {
  height: 100%;
}

.centered {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn-primary {
  background-color: #7fb069;
  border-radius: 10px;
  border: none;
  padding: 10px 40px;
  margin: 25px 0px;
  font-size: 1.25rem;
}

.btn-primary:hover {
  background-color: #9bd680;
}

.btn-secondary {
  background-color: #b3b3b3;
  border-radius: 10px;
  border: none;
  padding: 10px 40px;
  margin: 25px 0px;
  font-size: 1.25rem;
}

.btn-secondary:hover {
  background-color: #d1d1d1;
}
