.App {
  text-align: center;
}

html {
  height: 100%;
}

body {
  background-color: #b3b3b3 !important;
  height: 100%;
}
#root {
  height: 100%;
}

.centered {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn {
  border: none;
  background: none;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  margin: 1.5rem 0.5rem;
  padding: 0.25rem 2rem;
  transition: all 0.25s ease-in-out;
}
.btn:focus,
.btn:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
}

.btn-normal {
  background: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 23%);
}
.btn-normal:hover {
  background: hsl(0, 0%, 88%);
}

.btn-normal:disabled {
  background: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 81%);
}
/*** Submit button ***/
.btn-submit {
  background: hsl(110, 21%, 93%);
  color: hsl(141, 100%, 22%);
}
.btn-submit:hover {
  background: hsl(111, 21%, 86%);
}

.btn-submit:disabled {
  background: hsl(110, 21%, 93%);
  color: hsl(0, 0%, 81%);
}
/*** Info button ***/
.btn-info {
  background: hsl(212, 48%, 94%);
  color: hsl(214, 100%, 44%);
}
.btn-info:hover {
  background: hsl(212, 49%, 88%);
}

.btn-info:disabled {
  background: hsl(212, 48%, 94%);
  color: hsl(0, 0%, 81%);
}
/*** Warning button ***/
.btn-warning {
  background: hsl(39, 100%, 92%);
  color: hsl(40, 77%, 49%);
}
.btn-warning:hover {
  background: hsl(39, 100%, 88%);
}

.btn-warning:disabled {
  background: hsl(39, 100%, 92%);
  color: hsl(0, 0%, 81%);
}
/*** Delete button ***/
.btn-delete {
  background: hsl(0, 50%, 95%);
  color: hsl(0, 91%, 38%);
}
.btn-delete:hover {
  background: hsl(0, 50%, 90%);
}

.btn-delete:disabled {
  background: hsl(0, 50%, 95%);
  color: hsl(0, 0%, 81%);
}

.btn-small {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}
