.create-meal-modal-body {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.food-items-list-container {
  width: 50%;
  border-left: 1px solid #e0e0e0;
  height: 100%;
  text-align: center;
}
